@font-face {
	font-family: myFont;
	src: url(SpaceMono-Bold.ttf);
}

* {

	margin: 0;
}

body {
	color: #333333;
}

.p1 {
	margin-left: 40px;
	margin-top: 30px;
}

#div1 {
	margin-left: 800px;
	margin-top: -270px;
	font-family: myFont;

}

.home {
	background-color: #363636;
	color: white;
	padding: 20px;
	border: none;
	display: flex;
	font-size: 9px;
	text-decoration: none;

}

.img {
	width: 350px;
	height: auto;
	margin-left: 350px;
	margin-top: 150px;
}

footer {
	text-align: center;
	margin-top: 320px;
	color: #BDBDBD;

}

#p2 {
	color: #545454;
	font-family: myFont;
	letter-spacing: -0.035em;
	text-align: left;

}

#name {
	text-decoration: underline;
}

#home {

	display: inline-block;
}
